/* Soluzione qui */


/* Desktop */
@media screen and (min-width: 992px){
    #topbar{
        display: block;
    }

    .recipe-title{
        font-size: 30px;
    }

    .recipe-origin{
        display: inline-block;
    }

    .recipe-card{
        display: flex;
        width: 100%;
        height: 100%;
    }

    .recipe-video{
        width: 70%;
    }

    .recipe-info{
        width: 30%;
    }

    footer{
        display: flex;
        justify-content: space-between;
    }

    .social-networks .label{
        display: block;
    }

    .presentation img{
        display: inline-block;
        float: left;
        margin-right: 5px;
    }
}

/* /desktop */

/* Tablet */

@media screen and (min-width: 768px){
    #topbar{
        display: block;
    }

    .recipe-origin{
        display: inline-block;
    }

    .presentation img{
        display: inline-block;
        float: left;
        margin-right: 5px;
    }
}